header.header
    .header__top
        .container
            include contacts.pug
    .container
        .header__bottom
            .logo: img.logo__icon(src="./images/logo.png")
            include nav.pug
            a.button.button_red(href="#") Free consultation
