.header__top{
    background-color: #f0f2f4;
    border-bottom: 1px solid #e2e2e2;
}

.contacts{
    text-align: right;
}

.contact{
    display: inline-block;
    padding: 0px 13px;
    color: black;
    transition: 0.3s;

    &:first-child{
        border-right: 1px solid #e2e2e2;
    }

    &:hover{
        color: #858585;
    }
    
    &__icon{
        margin: 10px;
        font-size: 1.5rem;
        vertical-align: middle;

        &_email{
            font-size: 1.2rem;
        }
    }

    &__text{
        font-size: 1rem;
    }
}

.facebook{
    display: inline-block;
    padding: 3px 8px;
    border-radius: 3px;
    color: white;
    background-color: #1287bf;
}

.header__bottom{
    margin: 38px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    display: inline-block;
    margin-left: 3px;
}

.nav{
    display: inline-block;
    margin-left: 163px;

    &__link:first-child{
    }

    &__link:first-child::before{
        display: none;
    }
    
    &__link{
        font-family: $ff-main-bold;
        color:  #424242;
        transition: 0.3s;
    }

    &__link:hover{
        color: #de2b24;   
    }

    &__link::before{
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        background: #000;
        border-radius: 50%;
        vertical-align: middle;
        margin: 0 15px;
    }
}