.header__top{
    background-color: #f0f2f4;
    border-bottom: 1px solid #e2e2e2;
}

.contacts{
    text-align: right;
}

.contact{
    display: inline-block;
    padding: 0px 13px;
    color: black;
    transition: 0.3s;

    &:first-child{
        border-right: 1px solid #e2e2e2;
    }

    &:hover{
        color: #858585;
    }
    
    &__icon{
        margin: 10px;
        font-size: 1.5rem;
        vertical-align: middle;

        &_email{
            font-size: 1.2rem;
        }
    }

    &__text{
        font-size: 1rem;
    }
}

.facebook{
    display: inline-block;
    padding: 3px 8px;
    border-radius: 3px;
    color: white;
    background-color: #1287bf;
}
