.icon {
    display: inline-block;
  }
  
.icon-book{
    background-image: url($book-image);
    background-position: $book-x $book-y;
    width: $book-width;
    height: $book-height;
}

.header_test {
    color: #ccc555;
}

.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}